# Calculating Lead Yield with Rule-Based Classification

A game company wants to create new level-based customer definitions (personas) by using some characteristics of its customers, create segments according to these new customer definitions and estimate how much new customers can bring to the company on average based on these segments.

Persona.csv data set contains the prices of the products sold by an international game company and some demographic information of the users who purchased these products. The data set consists of records created in each sales transaction. This means the table is not deduplicated. In other words, a user with certain demographic characteristics may have made more than one purchase.

In [62]:
import pandas as pd
pd.set_option("display.max_rows", None)

In [63]:
# Read the persona.csv file and show general information about the data set.
df = pd.read_csv('persona.csv')
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [64]:
df.shape

(5000, 5)

In [65]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [66]:
# How many unique SOURCE are there? What are their frequencies?
print(df["SOURCE"].nunique())
df.SOURCE.value_counts()

2

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

In [67]:
# How many unique PRICEs are there?
df["PRICE"].nunique()

6

In [68]:
# How many sales were made from which PRICE?
df["PRICE"].value_counts()

PRICE
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: count, dtype: int64

In [69]:
# How many sales were made from which country?
print(df["COUNTRY"].value_counts())
df.groupby("COUNTRY")["PRICE"].count()

COUNTRY
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: count, dtype: int64

COUNTRY
bra    1496
can     230
deu     455
fra     303
tur     451
usa    2065
Name: PRICE, dtype: int64

In [70]:
df.pivot_table(values="PRICE",index="COUNTRY",aggfunc="count")

         PRICE
COUNTRY
bra       1496
can        230
deu        455
fra        303
tur        451
usa       2065

In [71]:
#  How much was earned from sales in total by country?
df.groupby("COUNTRY")["PRICE"].sum()
df.groupby("COUNTRY").agg({"PRICE": "sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [72]:
df.pivot_table(values="PRICE",index="COUNTRY",aggfunc="sum")

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [73]:
#  What are the sales numbers according to SOURCE types?
df["SOURCE"].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

In [74]:
# What are the PRICE averages by country?
df.groupby(by=['COUNTRY']).agg({"PRICE": "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [75]:
#  What are the PRICE averages according to SOURCEs?
df.groupby(by=['SOURCE']).agg({"PRICE": "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [76]:
# What are the PRICE averages in the COUNTRY-SOURCE breakdown?
df.groupby(by=["COUNTRY", 'SOURCE']).agg({"PRICE": "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

In [77]:
# What are the average earnings in the COUNTRY, SOURCE, SEX, AGE breakdown?
df.groupby(["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"}).head()

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897

In [78]:
# TASK 3: Sort the output by PRICE.
agg_df = df.groupby(by=["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"}).sort_values("PRICE", ascending=False)
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

In [79]:
#  Convert the names in the index into variable names.
agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [80]:
# Convert the AGE variable to a categorical variable and add it to agg_df.

# Let's specify where the AGE variable will be divided:
bins = [0, 18, 23, 30, 40, agg_df["AGE"].max()]

# Let's express what the naming will be in response to the divided points:
mylabels = ['0_18', '19_23', '24_30', '31_40', '41_' + str(agg_df["AGE"].max())]

agg_df["age_cat"] = pd.cut(agg_df["AGE"], bins, labels=mylabels)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat
0     bra  android    male   46   59.0   41_66
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [81]:
# TASK 6: Define new level based customers and add them to the data set as a variable.

agg_df['customers_level_based'] = agg_df[['COUNTRY', 'SOURCE', 'SEX', 'age_cat']].agg(lambda x: '_'.join(x).upper(), axis=1)


agg_df["customers_level_based"] = ['_'.join(i).upper() for i in agg_df.drop(["AGE", "PRICE"], axis=1).values]



# variable names:
agg_df.columns

Index(['COUNTRY', 'SOURCE', 'SEX', 'AGE', 'PRICE', 'age_cat',
       'customers_level_based'],
      dtype='object')

In [82]:
# how do we access observation values?
for row in agg_df.values:
 print(row)

['bra' 'android' 'male' 46 59.0 '41_66'
 'BRA_ANDROID_MALE_41_66_BRA_ANDROID_MALE_41_66']
['usa' 'android' 'male' 36 59.0 '31_40'
 'USA_ANDROID_MALE_31_40_USA_ANDROID_MALE_31_40']
['fra' 'android' 'female' 24 59.0 '24_30'
 'FRA_ANDROID_FEMALE_24_30_FRA_ANDROID_FEMALE_24_30']
['usa' 'ios' 'male' 32 54.0 '31_40'
 'USA_IOS_MALE_31_40_USA_IOS_MALE_31_40']
['deu' 'android' 'female' 36 49.0 '31_40'
 'DEU_ANDROID_FEMALE_31_40_DEU_ANDROID_FEMALE_31_40']
['deu' 'android' 'female' 51 49.0 '41_66'
 'DEU_ANDROID_FEMALE_41_66_DEU_ANDROID_FEMALE_41_66']
['deu' 'ios' 'male' 20 49.0 '19_23'
 'DEU_IOS_MALE_19_23_DEU_IOS_MALE_19_23']
['usa' 'android' 'female' 47 49.0 '41_66'
 'USA_ANDROID_FEMALE_41_66_USA_ANDROID_FEMALE_41_66']
['fra' 'ios' 'male' 20 49.0 '19_23'
 'FRA_IOS_MALE_19_23_FRA_IOS_MALE_19_23']
['usa' 'ios' 'male' 59 46.5 '41_66'
 'USA_IOS_MALE_41_66_USA_IOS_MALE_41_66']
['deu' 'android' 'male' 15 46.5 '0_18'
 'DEU_ANDROID_MALE_0_18_DEU_ANDROID_MALE_0_18']
['bra' 'android' 'female' 30 45.666666666666664 '24_30'
 'BRA_ANDROID_FEMALE_24_30_BRA_ANDROID_FEMALE_24_30']
['usa' 'android' 'female' 61 45.666666666666664 '41_66'
 'USA_ANDROID_FEMALE_41_66_USA_ANDROID_FEMALE_41_66']
['tur' 'ios' 'male' 24 45.0 '24_30'
 'TUR_IOS_MALE_24_30_TUR_IOS_MALE_24_30']
['deu' 'android' 'male' 34 45.0 '31_40'
 'DEU_ANDROID_MALE_31_40_DEU_ANDROID_MALE_31_40']
['tur' 'ios' 'female' 18 44.0 '0_18'
 'TUR_IOS_FEMALE_0_18_TUR_IOS_FEMALE_0_18']
['bra' 'android' 'female' 43 44.0 '41_66'
 'BRA_ANDROID_FEMALE_41_66_BRA_ANDROID_FEMALE_41_66']
['bra' 'ios' 'female' 22 44.0 '19_23'
 'BRA_IOS_FEMALE_19_23_BRA_IOS_FEMALE_19_23']
['tur' 'android' 'female' 32 43.0 '31_40'
 'TUR_ANDROID_FEMALE_31_40_TUR_ANDROID_FEMALE_31_40']
['bra' 'android' 'female' 39 43.0 '31_40'
 'BRA_ANDROID_FEMALE_31_40_BRA_ANDROID_FEMALE_31_40']
['tur' 'ios' 'male' 37 42.333333333333336 '31_40'
 'TUR_IOS_MALE_31_40_TUR_IOS_MALE_31_40']
['tur' 'android' 'male' 15 42.333333333333336 '0_18'
 'TUR_ANDROID_MALE_0_18_TUR_ANDROID_MALE_0_18']
['usa' 'ios' 'male' 28 42.333333333333336 '24_30'
 'USA_IOS_MALE_24_30_USA_IOS_MALE_24_30']
['bra' 'ios' 'male' 43 42.333333333333336 '41_66'
 'BRA_IOS_MALE_41_66_BRA_IOS_MALE_41_66']
['deu' 'android' 'male' 20 41.72727272727273 '19_23'
 'DEU_ANDROID_MALE_19_23_DEU_ANDROID_MALE_19_23']
['usa' 'ios' 'male' 30 41.72727272727273 '24_30'
 'USA_IOS_MALE_24_30_USA_IOS_MALE_24_30']
['tur' 'android' 'female' 18 41.5 '0_18'
 'TUR_ANDROID_FEMALE_0_18_TUR_ANDROID_FEMALE_0_18']
['usa' 'android' 'male' 47 41.5 '41_66'
 'USA_ANDROID_MALE_41_66_USA_ANDROID_MALE_41_66']
['tur' 'android' 'male' 25 41.5 '24_30'
 'TUR_ANDROID_MALE_24_30_TUR_ANDROID_MALE_24_30']
['usa' 'ios' 'female' 59 41.5 '41_66'
 'USA_IOS_FEMALE_41_66_USA_IOS_FEMALE_41_66']
['fra' 'android' 'male' 23 41.30769230769231 '19_23'
 'FRA_ANDROID_MALE_19_23_FRA_ANDROID_MALE_19_23']
['usa' 'ios' 'male' 31 41.0 '31_40'
 'USA_IOS_MALE_31_40_USA_IOS_MALE_31_40']
['tur' 'android' 'female' 15 41.0 '0_18'
 'TUR_ANDROID_FEMALE_0_18_TUR_ANDROID_FEMALE_0_18']
['fra' 'ios' 'male' 17 40.666666666666664 '0_18'
 'FRA_IOS_MALE_0_18_FRA_IOS_MALE_0_18']
['tur' 'ios' 'female' 21 40.666666666666664 '19_23'
 'TUR_IOS_FEMALE_19_23_TUR_IOS_FEMALE_19_23']
['tur' 'android' 'female' 31 40.666666666666664 '31_40'
 'TUR_ANDROID_FEMALE_31_40_TUR_ANDROID_FEMALE_31_40']
['tur' 'android' 'male' 27 40.666666666666664 '24_30'
 'TUR_ANDROID_MALE_24_30_TUR_ANDROID_MALE_24_30']
['fra' 'android' 'male' 19 40.53846153846154 '19_23'
 'FRA_ANDROID_MALE_19_23_FRA_ANDROID_MALE_19_23']
['bra' 'android' 'male' 24 40.42857142857143 '24_30'
 'BRA_ANDROID_MALE_24_30_BRA_ANDROID_MALE_24_30']
['can' 'android' 'male' 30 40.25 '24_30'
 'CAN_ANDROID_MALE_24_30_CAN_ANDROID_MALE_24_30']
['can' 'android' 'male' 20 40.111111111111114 '19_23'
 'CAN_ANDROID_MALE_19_23_CAN_ANDROID_MALE_19_23']
['usa' 'android' 'male' 43 39.90909090909091 '41_66'
 'USA_ANDROID_MALE_41_66_USA_ANDROID_MALE_41_66']
['tur' 'android' 'male' 26 39.666666666666664 '24_30'
 'TUR_ANDROID_MALE_24_30_TUR_ANDROID_MALE_24_30']
['bra' 'android' 'male' 40 39.625 '31_40'
 'BRA_ANDROID_MALE_31_40_BRA_ANDROID_MALE_31_40']
['bra' 'android' 'male' 15 39.3448275862069 '0_18'
 'BRA_ANDROID_MALE_0_18_BRA_ANDROID_MALE_0_18']
['usa' 'ios' 'female' 19 39.285714285714285 '19_23'
 'USA_IOS_FEMALE_19_23_USA_IOS_FEMALE_19_23']
['tur' 'android' 'male' 49 39.0 '41_66'
 'TUR_ANDROID_MALE_41_66_TUR_ANDROID_MALE_41_66']
['bra' 'ios' 'female' 19 39.0 '19_23'
 'BRA_IOS_FEMALE_19_23_BRA_IOS_FEMALE_19_23']
['usa' 'ios' 'male' 50 39.0 '41_66'
 'USA_IOS_MALE_41_66_USA_IOS_MALE_41_66']
['bra' 'ios' 'female' 25 39.0 '24_30'
 'BRA_IOS_FEMALE_24_30_BRA_IOS_FEMALE_24_30']
['deu' 'android' 'female' 38 39.0 '31_40'
 'DEU_ANDROID_FEMALE_31_40_DEU_ANDROID_FEMALE_31_40']
['deu' 'ios' 'male' 16 39.0 '0_18' 'DEU_IOS_MALE_0_18_DEU_IOS_MALE_0_18']
['fra' 'android' 'female' 21 39.0 '19_23'
 'FRA_ANDROID_FEMALE_19_23_FRA_ANDROID_FEMALE_19_23']
['fra' 'android' 'male' 33 39.0 '31_40'
 'FRA_ANDROID_MALE_31_40_FRA_ANDROID_MALE_31_40']
['tur' 'ios' 'female' 31 39.0 '31_40'
 'TUR_IOS_FEMALE_31_40_TUR_IOS_FEMALE_31_40']
['fra' 'ios' 'male' 51 39.0 '41_66'
 'FRA_IOS_MALE_41_66_FRA_IOS_MALE_41_66']
['bra' 'android' 'female' 32 39.0 '31_40'
 'BRA_ANDROID_FEMALE_31_40_BRA_ANDROID_FEMALE_31_40']
['tur' 'ios' 'male' 16 39.0 '0_18' 'TUR_IOS_MALE_0_18_TUR_IOS_MALE_0_18']
['bra' 'ios' 'female' 42 39.0 '41_66'
 'BRA_IOS_FEMALE_41_66_BRA_IOS_FEMALE_41_66']
['tur' 'android' 'male' 17 39.0 '0_18'
 'TUR_ANDROID_MALE_0_18_TUR_ANDROID_MALE_0_18']
['tur' 'android' 'female' 49 39.0 '41_66'
 'TUR_ANDROID_FEMALE_41_66_TUR_ANDROID_FEMALE_41_66']
['bra' 'android' 'female' 15 38.714285714285715 '0_18'
 'BRA_ANDROID_FEMALE_0_18_BRA_ANDROID_FEMALE_0_18']
['usa' 'ios' 'male' 21 38.53488372093023 '19_23'
 'USA_IOS_MALE_19_23_USA_IOS_MALE_19_23']
['usa' 'ios' 'female' 17 38.45945945945946 '0_18'
 'USA_IOS_FEMALE_0_18_USA_IOS_FEMALE_0_18']
['fra' 'ios' 'male' 31 38.375 '31_40'
 'FRA_IOS_MALE_31_40_FRA_IOS_MALE_31_40']
['tur' 'android' 'male' 16 38.285714285714285 '0_18'
 'TUR_ANDROID_MALE_0_18_TUR_ANDROID_MALE_0_18']
['deu' 'android' 'male' 37 38.166666666666664 '31_40'
 'DEU_ANDROID_MALE_31_40_DEU_ANDROID_MALE_31_40']
['usa' 'ios' 'female' 25 38.0 '24_30'
 'USA_IOS_FEMALE_24_30_USA_IOS_FEMALE_24_30']
['deu' 'ios' 'female' 17 37.8235294117647 '0_18'
 'DEU_IOS_FEMALE_0_18_DEU_IOS_FEMALE_0_18']
['can' 'ios' 'male' 17 37.666666666666664 '0_18'
 'CAN_IOS_MALE_0_18_CAN_IOS_MALE_0_18']
['can' 'android' 'male' 49 37.57142857142857 '41_66'
 'CAN_ANDROID_MALE_41_66_CAN_ANDROID_MALE_41_66']
['bra' 'android' 'female' 29 37.57142857142857 '24_30'
 'BRA_ANDROID_FEMALE_24_30_BRA_ANDROID_FEMALE_24_30']
['tur' 'android' 'female' 26 37.57142857142857 '24_30'
 'TUR_ANDROID_FEMALE_24_30_TUR_ANDROID_FEMALE_24_30']
['can' 'ios' 'male' 15 37.57142857142857 '0_18'
 'CAN_IOS_MALE_0_18_CAN_IOS_MALE_0_18']
['bra' 'ios' 'male' 33 37.57142857142857 '31_40'
 'BRA_IOS_MALE_31_40_BRA_IOS_MALE_31_40']
['fra' 'android' 'female' 15 37.57142857142857 '0_18'
 'FRA_ANDROID_FEMALE_0_18_FRA_ANDROID_FEMALE_0_18']
['deu' 'ios' 'female' 18 37.333333333333336 '0_18'
 'DEU_IOS_FEMALE_0_18_DEU_IOS_FEMALE_0_18']
['can' 'android' 'female' 18 37.333333333333336 '0_18'
 'CAN_ANDROID_FEMALE_0_18_CAN_ANDROID_FEMALE_0_18']
['tur' 'ios' 'female' 20 37.333333333333336 '19_23'
 'TUR_IOS_FEMALE_19_23_TUR_IOS_FEMALE_19_23']
['deu' 'android' 'male' 23 37.333333333333336 '19_23'
 'DEU_ANDROID_MALE_19_23_DEU_ANDROID_MALE_19_23']
['bra' 'android' 'female' 21 37.292682926829265 '19_23'
 'BRA_ANDROID_FEMALE_19_23_BRA_ANDROID_FEMALE_19_23']
['usa' 'android' 'female' 33 37.18181818181818 '31_40'
 'USA_ANDROID_FEMALE_31_40_USA_ANDROID_FEMALE_31_40']
['bra' 'ios' 'male' 22 37.18181818181818 '19_23'
 'BRA_IOS_MALE_19_23_BRA_IOS_MALE_19_23']
['bra' 'android' 'male' 17 37.1578947368421 '0_18'
 'BRA_ANDROID_MALE_0_18_BRA_ANDROID_MALE_0_18']
['bra' 'android' 'male' 26 37.095238095238095 '24_30'
 'BRA_ANDROID_MALE_24_30_BRA_ANDROID_MALE_24_30']
['usa' 'android' 'male' 26 37.0 '24_30'
 'USA_ANDROID_MALE_24_30_USA_ANDROID_MALE_24_30']
['tur' 'android' 'female' 21 37.0 '19_23'
 'TUR_ANDROID_FEMALE_19_23_TUR_ANDROID_FEMALE_19_23']
['deu' 'ios' 'male' 42 37.0 '41_66'
 'DEU_IOS_MALE_41_66_DEU_IOS_MALE_41_66']
['bra' 'android' 'female' 56 37.0 '41_66'
 'BRA_ANDROID_FEMALE_41_66_BRA_ANDROID_FEMALE_41_66']
['bra' 'ios' 'male' 15 36.878787878787875 '0_18'
 'BRA_IOS_MALE_0_18_BRA_IOS_MALE_0_18']
['usa' 'ios' 'female' 26 36.857142857142854 '24_30'
 'USA_IOS_FEMALE_24_30_USA_IOS_FEMALE_24_30']
['bra' 'ios' 'female' 15 36.77777777777778 '0_18'
 'BRA_IOS_FEMALE_0_18_BRA_IOS_FEMALE_0_18']
['bra' 'ios' 'male' 35 36.77777777777778 '31_40'
 'BRA_IOS_MALE_31_40_BRA_IOS_MALE_31_40']
['fra' 'android' 'female' 16 36.72727272727273 '0_18'
 'FRA_ANDROID_FEMALE_0_18_FRA_ANDROID_FEMALE_0_18']
['usa' 'android' 'male' 20 36.64705882352941 '19_23'
 'USA_ANDROID_MALE_19_23_USA_ANDROID_MALE_19_23']
['bra' 'ios' 'female' 18 36.5 '0_18'
 'BRA_IOS_FEMALE_0_18_BRA_IOS_FEMALE_0_18']
['bra' 'android' 'male' 44 36.5 '41_66'
 'BRA_ANDROID_MALE_41_66_BRA_ANDROID_MALE_41_66']
['bra' 'android' 'female' 24 36.5 '24_30'
 'BRA_ANDROID_FEMALE_24_30_BRA_ANDROID_FEMALE_24_30']
['usa' 'android' 'male' 30 36.142857142857146 '24_30'
 'USA_ANDROID_MALE_24_30_USA_ANDROID_MALE_24_30']
['tur' 'android' 'female' 52 36.142857142857146 '41_66'
 'TUR_ANDROID_FEMALE_41_66_TUR_ANDROID_FEMALE_41_66']
['usa' 'ios' 'female' 28 36.142857142857146 '24_30'
 'USA_IOS_FEMALE_24_30_USA_IOS_FEMALE_24_30']
['deu' 'ios' 'female' 26 36.0 '24_30'
 'DEU_IOS_FEMALE_24_30_DEU_IOS_FEMALE_24_30']
['can' 'android' 'male' 15 36.0 '0_18'
 'CAN_ANDROID_MALE_0_18_CAN_ANDROID_MALE_0_18']
['bra' 'android' 'female' 16 35.94444444444444 '0_18'
 'BRA_ANDROID_FEMALE_0_18_BRA_ANDROID_FEMALE_0_18']
['tur' 'android' 'male' 24 35.92307692307692 '24_30'
 'TUR_ANDROID_MALE_24_30_TUR_ANDROID_MALE_24_30']
['usa' 'android' 'male' 51 35.875 '41_66'
 'USA_ANDROID_MALE_41_66_USA_ANDROID_MALE_41_66']
['usa' 'ios' 'female' 21 35.8 '19_23'
 'USA_IOS_FEMALE_19_23_USA_IOS_FEMALE_19_23']
['usa' 'android' 'female' 19 35.76470588235294 '19_23'
 'USA_ANDROID_FEMALE_19_23_USA_ANDROID_FEMALE_19_23']
['fra' 'ios' 'male' 19 35.666666666666664 '19_23'
 'FRA_IOS_MALE_19_23_FRA_IOS_MALE_19_23']
['fra' 'android' 'male' 55 35.666666666666664 '41_66'
 'FRA_ANDROID_MALE_41_66_FRA_ANDROID_MALE_41_66']
['bra' 'android' 'male' 41 35.666666666666664 '41_66'
 'BRA_ANDROID_MALE_41_66_BRA_ANDROID_MALE_41_66']
['tur' 'android' 'male' 22 35.666666666666664 '19_23'
 'TUR_ANDROID_MALE_19_23_TUR_ANDROID_MALE_19_23']
['bra' 'android' 'female' 25 35.666666666666664 '24_30'
 'BRA_ANDROID_FEMALE_24_30_BRA_ANDROID_FEMALE_24_30']
['usa' 'android' 'female' 35 35.666666666666664 '31_40'
 'USA_ANDROID_FEMALE_31_40_USA_ANDROID_FEMALE_31_40']
['usa' 'ios' 'female' 29 35.666666666666664 '24_30'
 'USA_IOS_FEMALE_24_30_USA_IOS_FEMALE_24_30']
['bra' 'android' 'female' 17 35.666666666666664 '0_18'
 'BRA_ANDROID_FEMALE_0_18_BRA_ANDROID_FEMALE_0_18']
['tur' 'ios' 'female' 19 35.666666666666664 '19_23'
 'TUR_IOS_FEMALE_19_23_TUR_IOS_FEMALE_19_23']
['deu' 'ios' 'female' 16 35.557377049180324 '0_18'
 'DEU_IOS_FEMALE_0_18_DEU_IOS_FEMALE_0_18']
['usa' 'android' 'male' 41 35.42857142857143 '41_66'
 'USA_ANDROID_MALE_41_66_USA_ANDROID_MALE_41_66']
['bra' 'android' 'male' 20 35.4 '19_23'
 'BRA_ANDROID_MALE_19_23_BRA_ANDROID_MALE_19_23']
['deu' 'android' 'male' 33 35.36363636363637 '31_40'
 'DEU_ANDROID_MALE_31_40_DEU_ANDROID_MALE_31_40']
['bra' 'ios' 'female' 33 35.36363636363637 '31_40'
 'BRA_IOS_FEMALE_31_40_BRA_IOS_FEMALE_31_40']
['bra' 'ios' 'female' 45 35.36363636363637 '41_66'
 'BRA_IOS_FEMALE_41_66_BRA_IOS_FEMALE_41_66']
['bra' 'android' 'male' 30 35.36363636363637 '24_30'
 'BRA_ANDROID_MALE_24_30_BRA_ANDROID_MALE_24_30']
['deu' 'android' 'female' 24 35.36363636363637 '24_30'
 'DEU_ANDROID_FEMALE_24_30_DEU_ANDROID_FEMALE_24_30']
['bra' 'ios' 'male' 17 35.333333333333336 '0_18'
 'BRA_IOS_MALE_0_18_BRA_IOS_MALE_0_18']
['bra' 'android' 'male' 21 35.25 '19_23'
 'BRA_ANDROID_MALE_19_23_BRA_ANDROID_MALE_19_23']
['usa' 'android' 'female' 49 35.25 '41_66'
 'USA_ANDROID_FEMALE_41_66_USA_ANDROID_FEMALE_41_66']
['bra' 'android' 'male' 19 35.21621621621622 '19_23'
 'BRA_ANDROID_MALE_19_23_BRA_ANDROID_MALE_19_23']
['bra' 'android' 'female' 19 35.206896551724135 '19_23'
 'BRA_ANDROID_FEMALE_19_23_BRA_ANDROID_FEMALE_19_23']
['usa' 'android' 'male' 18 35.19047619047619 '0_18'
 'USA_ANDROID_MALE_0_18_USA_ANDROID_MALE_0_18']
['bra' 'ios' 'female' 37 35.111111111111114 '31_40'
 'BRA_IOS_FEMALE_31_40_BRA_IOS_FEMALE_31_40']
['usa' 'ios' 'male' 27 35.111111111111114 '24_30'
 'USA_IOS_MALE_24_30_USA_IOS_MALE_24_30']
['bra' 'android' 'female' 31 35.09756097560975 '31_40'
 'BRA_ANDROID_FEMALE_31_40_BRA_ANDROID_FEMALE_31_40']
['usa' 'ios' 'female' 20 35.0 '19_23'
 'USA_IOS_FEMALE_19_23_USA_IOS_FEMALE_19_23']
['usa' 'android' 'female' 31 35.0 '31_40'
 'USA_ANDROID_FEMALE_31_40_USA_ANDROID_FEMALE_31_40']
['fra' 'ios' 'male' 22 35.0 '19_23'
 'FRA_IOS_MALE_19_23_FRA_IOS_MALE_19_23']
['deu' 'android' 'female' 22 35.0 '19_23'
 'DEU_ANDROID_FEMALE_19_23_DEU_ANDROID_FEMALE_19_23']
['can' 'ios' 'male' 16 35.0 '0_18' 'CAN_IOS_MALE_0_18_CAN_IOS_MALE_0_18']
['deu' 'ios' 'male' 17 35.0 '0_18' 'DEU_IOS_MALE_0_18_DEU_IOS_MALE_0_18']
['usa' 'ios' 'female' 65 35.0 '41_66'
 'USA_IOS_FEMALE_41_66_USA_IOS_FEMALE_41_66']
['deu' 'ios' 'male' 25 35.0 '24_30'
 'DEU_IOS_MALE_24_30_DEU_IOS_MALE_24_30']
['bra' 'android' 'female' 22 34.945945945945944 '19_23'
 'BRA_ANDROID_FEMALE_19_23_BRA_ANDROID_FEMALE_19_23']
['usa' 'android' 'female' 16 34.90163934426229 '0_18'
 'USA_ANDROID_FEMALE_0_18_USA_ANDROID_FEMALE_0_18']
['bra' 'ios' 'male' 23 34.88235294117647 '19_23'
 'BRA_IOS_MALE_19_23_BRA_IOS_MALE_19_23']
['usa' 'android' 'male' 23 34.84905660377358 '19_23'
 'USA_ANDROID_MALE_19_23_USA_ANDROID_MALE_19_23']
['tur' 'ios' 'male' 17 34.806451612903224 '0_18'
 'TUR_IOS_MALE_0_18_TUR_IOS_MALE_0_18']
['usa' 'android' 'female' 28 34.78947368421053 '24_30'
 'USA_ANDROID_FEMALE_24_30_USA_ANDROID_FEMALE_24_30']
['usa' 'ios' 'male' 16 34.714285714285715 '0_18'
 'USA_IOS_MALE_0_18_USA_IOS_MALE_0_18']
['bra' 'ios' 'male' 34 34.714285714285715 '31_40'
 'BRA_IOS_MALE_31_40_BRA_IOS_MALE_31_40']
['usa' 'android' 'male' 22 34.714285714285715 '19_23'
 'USA_ANDROID_MALE_19_23_USA_ANDROID_MALE_19_23']
['usa' 'android' 'male' 35 34.714285714285715 '31_40'
 'USA_ANDROID_MALE_31_40_USA_ANDROID_MALE_31_40']
['usa' 'android' 'male' 31 34.714285714285715 '31_40'
 'USA_ANDROID_MALE_31_40_USA_ANDROID_MALE_31_40']
['usa' 'ios' 'female' 47 34.714285714285715 '41_66'
 'USA_IOS_FEMALE_41_66_USA_IOS_FEMALE_41_66']
['usa' 'android' 'male' 15 34.663716814159294 '0_18'
 'USA_ANDROID_MALE_0_18_USA_ANDROID_MALE_0_18']
['fra' 'android' 'female' 17 34.65217391304348 '0_18'
 'FRA_ANDROID_FEMALE_0_18_FRA_ANDROID_FEMALE_0_18']
['usa' 'android' 'female' 17 34.625 '0_18'
 'USA_ANDROID_FEMALE_0_18_USA_ANDROID_FEMALE_0_18']
['usa' 'ios' 'male' 18 34.57692307692308 '0_18'
 'USA_IOS_MALE_0_18_USA_IOS_MALE_0_18']
['bra' 'android' 'female' 38 34.55555555555556 '31_40'
 'BRA_ANDROID_FEMALE_31_40_BRA_ANDROID_FEMALE_31_40']
['usa' 'ios' 'female' 33 34.55555555555556 '31_40'
 'USA_IOS_FEMALE_31_40_USA_IOS_FEMALE_31_40']
['tur' 'android' 'female' 16 34.55555555555556 '0_18'
 'TUR_ANDROID_FEMALE_0_18_TUR_ANDROID_FEMALE_0_18']
['deu' 'android' 'female' 25 34.45454545454545 '24_30'
 'DEU_ANDROID_FEMALE_24_30_DEU_ANDROID_FEMALE_24_30']
['usa' 'android' 'male' 17 34.45454545454545 '0_18'
 'USA_ANDROID_MALE_0_18_USA_ANDROID_MALE_0_18']
['usa' 'android' 'male' 28 34.38461538461539 '24_30'
 'USA_ANDROID_MALE_24_30_USA_ANDROID_MALE_24_30']
['bra' 'ios' 'female' 26 34.333333333333336 '24_30'
 'BRA_IOS_FEMALE_24_30_BRA_IOS_FEMALE_24_30']
['usa' 'android' 'female' 21 34.18518518518518 '19_23'
 'USA_ANDROID_FEMALE_19_23_USA_ANDROID_FEMALE_19_23']
['bra' 'ios' 'female' 54 34.0 '41_66'
 'BRA_IOS_FEMALE_41_66_BRA_IOS_FEMALE_41_66']
['deu' 'android' 'female' 23 34.0 '19_23'
 'DEU_ANDROID_FEMALE_19_23_DEU_ANDROID_FEMALE_19_23']
['usa' 'ios' 'male' 26 34.0 '24_30'
 'USA_IOS_MALE_24_30_USA_IOS_MALE_24_30']
['fra' 'ios' 'male' 26 34.0 '24_30'
 'FRA_IOS_MALE_24_30_FRA_IOS_MALE_24_30']
['bra' 'ios' 'female' 27 34.0 '24_30'
 'BRA_IOS_FEMALE_24_30_BRA_IOS_FEMALE_24_30']
['can' 'android' 'female' 43 34.0 '41_66'
 'CAN_ANDROID_FEMALE_41_66_CAN_ANDROID_FEMALE_41_66']
['usa' 'ios' 'female' 22 34.0 '19_23'
 'USA_IOS_FEMALE_19_23_USA_IOS_FEMALE_19_23']
['usa' 'ios' 'male' 20 34.0 '19_23'
 'USA_IOS_MALE_19_23_USA_IOS_MALE_19_23']
['bra' 'ios' 'male' 19 34.0 '19_23'
 'BRA_IOS_MALE_19_23_BRA_IOS_MALE_19_23']
['tur' 'ios' 'female' 23 34.0 '19_23'
 'TUR_IOS_FEMALE_19_23_TUR_IOS_FEMALE_19_23']
['tur' 'ios' 'female' 25 34.0 '24_30'
 'TUR_IOS_FEMALE_24_30_TUR_IOS_FEMALE_24_30']
['tur' 'ios' 'female' 26 34.0 '24_30'
 'TUR_IOS_FEMALE_24_30_TUR_IOS_FEMALE_24_30']
['deu' 'ios' 'female' 22 34.0 '19_23'
 'DEU_IOS_FEMALE_19_23_DEU_IOS_FEMALE_19_23']
['tur' 'ios' 'female' 51 34.0 '41_66'
 'TUR_IOS_FEMALE_41_66_TUR_IOS_FEMALE_41_66']
['deu' 'android' 'male' 21 34.0 '19_23'
 'DEU_ANDROID_MALE_19_23_DEU_ANDROID_MALE_19_23']
['bra' 'ios' 'female' 24 34.0 '24_30'
 'BRA_IOS_FEMALE_24_30_BRA_IOS_FEMALE_24_30']
['usa' 'android' 'male' 16 34.0 '0_18'
 'USA_ANDROID_MALE_0_18_USA_ANDROID_MALE_0_18']
['usa' 'ios' 'male' 53 34.0 '41_66'
 'USA_IOS_MALE_41_66_USA_IOS_MALE_41_66']
['usa' 'android' 'female' 42 34.0 '41_66'
 'USA_ANDROID_FEMALE_41_66_USA_ANDROID_FEMALE_41_66']
['fra' 'android' 'female' 35 34.0 '31_40'
 'FRA_ANDROID_FEMALE_31_40_FRA_ANDROID_FEMALE_31_40']
['usa' 'android' 'male' 25 34.0 '24_30'
 'USA_ANDROID_MALE_24_30_USA_ANDROID_MALE_24_30']
['usa' 'android' 'female' 25 34.0 '24_30'
 'USA_ANDROID_FEMALE_24_30_USA_ANDROID_FEMALE_24_30']
['deu' 'ios' 'female' 23 34.0 '19_23'
 'DEU_IOS_FEMALE_19_23_DEU_IOS_FEMALE_19_23']
['bra' 'ios' 'male' 24 33.86486486486486 '24_30'
 'BRA_IOS_MALE_24_30_BRA_IOS_MALE_24_30']
['usa' 'ios' 'female' 15 33.857142857142854 '0_18'
 'USA_IOS_FEMALE_0_18_USA_IOS_FEMALE_0_18']
['usa' 'android' 'female' 22 33.8 '19_23'
 'USA_ANDROID_FEMALE_19_23_USA_ANDROID_FEMALE_19_23']
['bra' 'ios' 'male' 16 33.76190476190476 '0_18'
 'BRA_IOS_MALE_0_18_BRA_IOS_MALE_0_18']
['deu' 'android' 'female' 17 33.73684210526316 '0_18'
 'DEU_ANDROID_FEMALE_0_18_DEU_ANDROID_FEMALE_0_18']
['bra' 'android' 'female' 37 33.73684210526316 '31_40'
 'BRA_ANDROID_FEMALE_31_40_BRA_ANDROID_FEMALE_31_40']
['usa' 'ios' 'male' 15 33.729729729729726 '0_18'
 'USA_IOS_MALE_0_18_USA_IOS_MALE_0_18']
['can' 'ios' 'female' 15 33.705882352941174 '0_18'
 'CAN_IOS_FEMALE_0_18_CAN_IOS_FEMALE_0_18']
['tur' 'android' 'female' 17 33.6875 '0_18'
 'TUR_ANDROID_FEMALE_0_18_TUR_ANDROID_FEMALE_0_18']
['bra' 'ios' 'female' 16 33.6875 '0_18'
 'BRA_IOS_FEMALE_0_18_BRA_IOS_FEMALE_0_18']
['fra' 'ios' 'female' 15 33.61538461538461 '0_18'
 'FRA_IOS_FEMALE_0_18_FRA_IOS_FEMALE_0_18']
['bra' 'android' 'female' 45 33.61538461538461 '41_66'
 'BRA_ANDROID_FEMALE_41_66_BRA_ANDROID_FEMALE_41_66']
['bra' 'ios' 'male' 44 33.54545454545455 '41_66'
 'BRA_IOS_MALE_41_66_BRA_IOS_MALE_41_66']
['usa' 'android' 'male' 27 33.285714285714285 '24_30'
 'USA_ANDROID_MALE_24_30_USA_ANDROID_MALE_24_30']
['bra' 'android' 'female' 26 33.166666666666664 '24_30'
 'BRA_ANDROID_FEMALE_24_30_BRA_ANDROID_FEMALE_24_30']
['usa' 'android' 'female' 23 33.1025641025641 '19_23'
 'USA_ANDROID_FEMALE_19_23_USA_ANDROID_FEMALE_19_23']
['bra' 'android' 'male' 18 33.054054054054056 '0_18'
 'BRA_ANDROID_MALE_0_18_BRA_ANDROID_MALE_0_18']
['bra' 'ios' 'female' 46 33.0 '41_66'
 'BRA_IOS_FEMALE_41_66_BRA_IOS_FEMALE_41_66']
['usa' 'android' 'male' 42 33.0 '41_66'
 'USA_ANDROID_MALE_41_66_USA_ANDROID_MALE_41_66']
['fra' 'ios' 'female' 40 33.0 '31_40'
 'FRA_IOS_FEMALE_31_40_FRA_IOS_FEMALE_31_40']
['fra' 'android' 'male' 25 33.0 '24_30'
 'FRA_ANDROID_MALE_24_30_FRA_ANDROID_MALE_24_30']
['deu' 'ios' 'female' 32 33.0 '31_40'
 'DEU_IOS_FEMALE_31_40_DEU_IOS_FEMALE_31_40']
['usa' 'ios' 'female' 18 32.91304347826087 '0_18'

In [83]:
# We want to put the VALUES of the COUNTRY, SOURCE, SEX and age_cat variables side by side and combine them with an underscore.
[row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]

# Let's add it to the data set:
agg_df["customers_level_based"] = [row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5 ].upper() for row in agg_df.values]
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat     customers_level_based
0     bra  android    male   46   59.0   41_66    BRA_ANDROID_MALE_41_66
1     usa  android    male   36   59.0   31_40    USA_ANDROID_MALE_31_40
2     fra  android  female   24   59.0   24_30  FRA_ANDROID_FEMALE_24_30
3     usa      ios    male   32   54.0   31_40        USA_IOS_MALE_31_40
4     deu  android  female   36   49.0   31_40  DEU_ANDROID_FEMALE_31_40

In [84]:

# Let's remove unnecessary variables:
agg_df = agg_df[["customers_level_based", "PRICE"]]
agg_df.head()

      customers_level_based  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0

In [85]:
for i in agg_df["customers_level_based"].values:
 print(i.split("_"))

['BRA', 'ANDROID', 'MALE', '41', '66']
['USA', 'ANDROID', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'IOS', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['TUR', 'IOS', 'MALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '31', '40']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['BRA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'IOS', 'MALE', '0', '18']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['FRA', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '0', '18']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '19', '23']
['USA', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '0', '18']
['CAN', 'IOS', 'MALE', '0', '18']
['CAN', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '24', '30']
['CAN', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'IOS', 'FEMALE', '0', '18']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['BRA', 'IOS', 'MALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['USA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'MALE', '41', '66']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['FRA', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['DEU', 'IOS', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['CAN', 'IOS', 'MALE', '0', '18']
['DEU', 'IOS', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '19', '23']
['TUR', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '41', '66']
['USA', 'ANDROID', 'MALE', '0', '18']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '41', '66']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['FRA', 'IOS', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '41', '66']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '19', '23']
['BRA', 'IOS', 'MALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '24', '30']
['TUR', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '0', '18']
['CAN', 'IOS', 'FEMALE', '0', '18']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '41', '66']
['USA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '31', '40']
['FRA', 'ANDROID', 'MALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['FRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['FRA', 'IOS', 'FEMALE', '0', '18']
['CAN', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['CAN', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '19', '23']
['CAN', 'IOS', 'MALE', '24', '30']
['TUR', 'IOS', 'MALE', '41', '66']
['CAN', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'IOS', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'IOS', 'FEMALE', '41', '66']
['USA', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'MALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '0', '18']
['FRA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'MALE', '31', '40']
['CAN', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '41', '66']
['CAN', 'IOS', 'FEMALE', '0', '18']
['DEU', 'IOS', 'MALE', '19', '23']
['DEU', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['DEU', 'ANDROID', 'MALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '41', '66']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '31', '40']
['FRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'MALE', '31', '40']
['BRA', 'ANDROID', 'MALE', '19', '23']
['TUR', 'ANDROID', 'MALE', '19', '23']
['TUR', 'IOS', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '24', '30']

In [86]:
print(agg_df["customers_level_based"].value_counts())

# For this reason, after groupby by segments, we should take the price averages and deduplicate the segments.
agg_df = agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})

#Located in customers_level_based index. Let's turn this into a variable.
agg_df = agg_df.reset_index()
agg_df.head()

# let's check. We expect each persona to have 1:
agg_df["customers_level_based"].value_counts()
agg_df.head()

customers_level_based
BRA_ANDROID_MALE_24_30      7
USA_ANDROID_MALE_41_66      7
USA_IOS_FEMALE_24_30        7
BRA_ANDROID_FEMALE_24_30    7
USA_ANDROID_MALE_24_30      7
BRA_IOS_MALE_31_40          6
USA_ANDROID_FEMALE_24_30    6
USA_IOS_MALE_24_30          6
BRA_IOS_FEMALE_24_30        6
USA_ANDROID_MALE_31_40      6
BRA_ANDROID_FEMALE_31_40    6
USA_IOS_FEMALE_41_66        5
BRA_ANDROID_FEMALE_19_23    5
USA_ANDROID_FEMALE_31_40    5
TUR_IOS_FEMALE_19_23        5
BRA_IOS_MALE_41_66          5
BRA_ANDROID_MALE_19_23      5
USA_ANDROID_MALE_19_23      5
USA_ANDROID_FEMALE_19_23    5
DEU_ANDROID_MALE_31_40      5
BRA_IOS_FEMALE_31_40        5
USA_IOS_MALE_41_66          5
USA_ANDROID_FEMALE_41_66    5
USA_IOS_MALE_31_40          5
USA_IOS_FEMALE_19_23        5
DEU_IOS_FEMALE_0_18         4
USA_IOS_FEMALE_0_18         4
TUR_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_41_66      4
BRA_IOS_MALE_0_18           4
BRA_IOS_MALE_19_23          4
BRA_IOS_FEMALE_0_18         4
DEU_ANDROID_FEMALE_24_30    4
USA_ANDROID_MALE_0_18       4
USA_ANDROID_FEMALE_0_18     4
USA_IOS_MALE_0_18           4
USA_IOS_FEMALE_31_40        4
BRA_IOS_FEMALE_41_66        4
BRA_ANDROID_FEMALE_0_18     4
BRA_IOS_FEMALE_19_23        4
BRA_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_0_18       4
DEU_ANDROID_FEMALE_31_40    4
DEU_ANDROID_MALE_19_23      4
TUR_ANDROID_FEMALE_0_18     4
TUR_ANDROID_MALE_24_30      4
FRA_ANDROID_FEMALE_0_18     3
DEU_ANDROID_MALE_0_18       3
FRA_IOS_MALE_19_23          3
DEU_ANDROID_FEMALE_19_23    3
FRA_ANDROID_FEMALE_19_23    3
DEU_ANDROID_FEMALE_41_66    3
TUR_ANDROID_FEMALE_19_23    3
TUR_ANDROID_MALE_0_18       3
CAN_ANDROID_FEMALE_0_18     3
FRA_ANDROID_MALE_19_23      3
TUR_IOS_FEMALE_0_18         3
DEU_ANDROID_FEMALE_0_18     3
FRA_IOS_MALE_0_18           3
CAN_IOS_MALE_0_18           3
FRA_IOS_FEMALE_0_18         3
BRA_ANDROID_MALE_31_40      3
USA_IOS_MALE_19_23          3
TUR_IOS_MALE_0_18           3
FRA_IOS_FEMALE_31_40        2
CAN_IOS_FEMALE_0_18         2
DEU_IOS_MALE_24_30          2
TUR_IOS_MALE_19_23          2
DEU_IOS_MALE_19_23          2
FRA_ANDROID_FEMALE_24_30    2
TUR_IOS_FEMALE_24_30        2
TUR_IOS_MALE_41_66          2
FRA_IOS_MALE_24_30          2
DEU_IOS_FEMALE_19_23        2
DEU_IOS_MALE_0_18           2
TUR_ANDROID_MALE_19_23      2
CAN_ANDROID_MALE_24_30      2
FRA_ANDROID_MALE_31_40      2
TUR_IOS_FEMALE_31_40        2
FRA_ANDROID_MALE_0_18       2
FRA_ANDROID_MALE_41_66      2
DEU_ANDROID_MALE_24_30      2
FRA_IOS_MALE_31_40          2
TUR_ANDROID_FEMALE_24_30    2
FRA_IOS_FEMALE_24_30        2
TUR_ANDROID_FEMALE_31_40    2
DEU_IOS_FEMALE_24_30        2
CAN_ANDROID_FEMALE_19_23    2
TUR_ANDROID_MALE_31_40      1
DEU_IOS_FEMALE_31_40        1
CAN_IOS_MALE_24_30          1
DEU_IOS_MALE_31_40          1
CAN_IOS_FEMALE_24_30        1
CAN_IOS_MALE_31_40          1
CAN_IOS_MALE_41_66          1
CAN_ANDROID_MALE_41_66      1
FRA_ANDROID_MALE_24_30      1
BRA_IOS_MALE_24_30          1
FRA_ANDROID_FEMALE_31_40    1
TUR_IOS_FEMALE_41_66        1
CAN_ANDROID_FEMALE_41_66    1
CAN_ANDROID_MALE_0_18       1
DEU_IOS_MALE_41_66          1
FRA_IOS_MALE_41_66          1
TUR_ANDROID_MALE_41_66      1
CAN_ANDROID_MALE_19_23      1
TUR_IOS_MALE_31_40          1
TUR_IOS_MALE_24_30          1
CAN_ANDROID_FEMALE_24_30    1
Name: count, dtype: int64

      customers_level_based      PRICE
0   BRA_ANDROID_FEMALE_0_18  35.645303
1  BRA_ANDROID_FEMALE_19_23  34.077340
2  BRA_ANDROID_FEMALE_24_30  33.863946
3  BRA_ANDROID_FEMALE_31_40  34.898326
4  BRA_ANDROID_FEMALE_41_66  36.737179

In [87]:

# Segment new customers (USA_ANDROID_MALE_0_18).

agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels=["D", "C", "B", "A"])
agg_df.head(30)

       customers_level_based      PRICE SEGMENT
0    BRA_ANDROID_FEMALE_0_18  35.645303       B
1   BRA_ANDROID_FEMALE_19_23  34.077340       C
2   BRA_ANDROID_FEMALE_24_30  33.863946       C
3   BRA_ANDROID_FEMALE_31_40  34.898326       B
4   BRA_ANDROID_FEMALE_41_66  36.737179       A
5      BRA_ANDROID_MALE_0_18  34.805861       B
6     BRA_ANDROID_MALE_19_23  31.673243       D
7     BRA_ANDROID_MALE_24_30  33.413919       C
8     BRA_ANDROID_MALE_31_40  34.327381       B
9     BRA_ANDROID_MALE_41_66  40.041667       A
10       BRA_IOS_FEMALE_0_18  34.900410       B
11      BRA_IOS_FEMALE_19_23  36.403846       A
12      BRA_IOS_FEMALE_24_30  34.015873       C
13      BRA_IOS_FEMALE_31_40  29.875902       D
14      BRA_IOS_FEMALE_41_66  35.340909       B
15         BRA_IOS_MALE_0_18  34.664559       B
16        BRA_IOS_MALE_19_23  34.266043       B
17        BRA_IOS_MALE_24_30  33.864865       C
18        BRA_IOS_MALE_31_40  31.566138       D
19        BRA_IOS_MALE_41_66  31.083694       D
20   CAN_ANDROID_FEMALE_0_18  30.896552       D
21  CAN_ANDROID_FEMALE_19_23  32.014706       D
22  CAN_ANDROID_FEMALE_24_30  19.000000       D
23  CAN_ANDROID_FEMALE_41_66  34.000000       C
24     CAN_ANDROID_MALE_0_18  36.000000       B
25    CAN_ANDROID_MALE_19_23  40.111111       A
26    CAN_ANDROID_MALE_24_30  35.009615       B
27    CAN_ANDROID_MALE_41_66  37.571429       A
28       CAN_IOS_FEMALE_0_18  31.352941       D
29      CAN_IOS_FEMALE_24_30  31.727273       D

In [88]:
agg_df.groupby("SEGMENT").agg({"PRICE": "mean"})

             PRICE
SEGMENT
D        29.206780
C        33.509674
B        34.999645
A        38.691234

In [89]:
# TASK 8: Classify new customers and estimate how much income they can bring.

# To which segment does a 33-year-old Turkish woman using ANDROID belong and how much income is she expected to earn on average?
new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

       customers_level_based      PRICE SEGMENT
72  TUR_ANDROID_FEMALE_31_40  41.833333       A

In [90]:
# In which segment and how much income on average is a 35-year-old French woman using IOS expected to earn?
new_user = "FRA_IOS_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

   customers_level_based      PRICE SEGMENT
63  FRA_IOS_FEMALE_31_40  32.818182       C